.products__info {
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
  height: 100vh;
  display: grid;
  grid-template-columns: [s] 5rem [products-s] 1fr [products-e] 5rem [e];
  grid-template-rows: 1fr;

  &-container {
    grid-column: products-s/products-e;
    grid-row: products-s/e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
