.cart {
  height: 50rem;
  margin-top: 2rem;
  grid-column: content-s/content-s;
  grid-row: content-s/content-s;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: center;

  &__left {
    @include box-shadow;
    @include white-box;
    width: 55rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 2rem;

    &-title {
      font-size: 3rem;
      position: absolute;
      top: 4.5rem;
    }
  }

  &__right {
    font-size: 2rem;
  }
}
