.checkout {
  height: 50rem;
  grid-column: content-s/content-s;
  grid-row: content-s/content-s;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5rem;
  align-self: center;

  &__left {
    overflow: scroll;
    overflow-x: hidden;

    &-title {
      font-size: 3rem;
      position: absolute;
      top: 3.5rem;
    }
  }

  &__right {
    font-size: 2.5rem;
  }
}
