@mixin base-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:
    [s] minmax(4rem, 20rem) [content-s] minmax(44rem, 1fr) [content-e] minmax(
      4rem,
      20rem
    )
    [e];
  grid-template-rows: [s] 8rem [content-s] 1fr [content-e e] 10rem;
}

@mixin box-shadow {
  -webkit-box-shadow: 0.3rem 0.4rem 2rem -0.8rem rgba(77, 99, 78, 0.56);
  -moz-box-shadow: 0.3rem 0.4rem 2rem -0.8rem rgba(77, 99, 78, 0.56);
  box-shadow: 0.3rem 0.4rem 2rem -0.8rem rgba(77, 99, 78, 0.56);
}

@mixin box-shadow-hover {
  -webkit-box-shadow: 3px 4px 20px -1px rgba(77, 99, 78, 0.56);
  -moz-box-shadow: 3px 4px 20px -1px rgba(77, 99, 78, 0.56);
  box-shadow: 3px 4px 20px -1px rgba(77, 99, 78, 0.56);
}

@mixin navbar-shadow {
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.48);
}

@mixin order-title {
  text-align: center;
  padding: 1rem 2rem;
  font-size: 3.5rem;
  font-weight: 400;
  border-bottom: 0.1rem solid lightgray;
}

@mixin white-box {
  background-color: $color-white;
  border-radius: 0.5rem;
}

@mixin yellow-button {
  cursor: pointer;
  background: $color-bg-btn;
  border: 0.1rem solid;
  border-color: $color-border-btn;
  border-radius: 0.4rem;
  color: $color-black;
  font-weight: 900;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.95) translateY(0.205rem);
  }
}
