.navbar {
  @include navbar-shadow;
  grid-column: s/e;
  grid-row: s/content-s;
  width: 100%;
  height: 100%;
  background-color: $color-navbar;
  align-items: center;
  display: grid;
  grid-template-columns: [s] 7rem [logo-s] 20rem [logo-e links-s] 1fr [links-e] 7rem [e];

  &__logo {
    grid-column: logo-s/logo-e;
    height: 100%;
    display: flex;
    align-items: center;

    &-img {
      width: 8rem;
    }
  }

  &-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav {
    width: 23rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    color: #333;
    text-decoration: none;
  }

  &__option {
    span {
      font-size: 3rem;
      font-weight: 700;
    }

    & svg {
      font-size: 3rem;
    }
  }

  &__number-wrapper {
    font-size: 1.4rem;
    font-weight: 800;
    position: absolute;
    right: 6.6rem;
    top: 1.3rem;
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid lightgray;
    border-radius: 2rem;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
