.checkout-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  & button {
    cursor: pointer;
    height: 3rem;
    width: 12rem;
    font-size: 2rem;
  }
}

.order-details {
  @include box-shadow;
  height: 90vh;
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  background-color: white;
  transition: all 0.3s ease-in-out;

  &__title {
    // height: auto;
    padding: 1.5rem;
    font-weight: 400;

    & > h1 {
      @include order-title;

      & a {
        text-decoration: none;
      }
    }
  }

  &__info {
    padding: 0 1.5rem;
    display: flex;

    &-title {
      width: 25%;
      align-self: center;

      & > h3 {
        font-size: 2rem;
      }
    }

    &-user {
      font-size: 1.5rem;
    }
  }

  &__items {
    padding: 1.5rem;

    &-section {
      display: flex;

      &-title {
        width: 25%;
        text-align: start;

        & > h3 {
          font-size: 2rem;
          position: fixed;
        }
      }

      &-items {
        width: 75%;
        height: 30rem;
        overflow: scroll;
        overflow-x: hidden;
      }
    }
  }
}
