.order-success {
  @include box-shadow;
  @include white-box;
  height: 80vh;
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
  display: flex;
  flex-direction: column;
  margin-top: -5rem;
  padding: 3rem;

  & h1 {
    font-size: 3rem;
    text-align: center;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 0.1rem solid $color-icon;
    border-radius: 4rem;
    background-color: $color-icon;

    .fa-check {
      font-size: 4rem;
    }
  }

  & p {
    margin-top: 10rem;
    font-size: 2rem;
    text-align: center;
  }

  & button {
    @include yellow-button;
    width: 16rem;
    height: 3rem;
    margin-top: 15rem;
    align-self: center;
    padding: 1rem;
    font-size: 2rem;
  }
}
