.form-input__input {
  width: 45rem;
  padding-left: 2rem;
}

.shipping-address {
  @include box-shadow;
  @include white-box;
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
  border: 1px solid transparent;
  width: 100rem;
  height: 55rem;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 70%;
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
    border-bottom: 0.1rem solid lightgray;
  }

  &-form {
    grid-row: m/e;
    height: 40rem;
    width: 70%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__address1,
    &__address2,
    &__small-inputs,
    &__country {
      width: 50rem;
    }

    &__small-inputs {
      display: flex;
    }

    &__city {
      & input {
        width: 20rem;
      }
    }

    &__zipcode {
      & input {
        width: 20rem;
      }
    }

    &__button {
      display: flex;
      justify-content: flex-end;

      & button {
        background: #f0c14b;
        border: 0.1rem solid;
        border-color: #a88734;
        color: #111;
        font-weight: 700;
        font-size: 1.8rem;
        border-radius: 0.2rem;
        width: 15rem;
        height: 3rem;
      }
    }
  }
}
