$color-gray-4D: #e6e6e6;
$color-white: #fff;
$color-bg-btn: #f0c14b;
$color-border-btn: #a88734;
$color-black: #111;
$color-red: rgb(180, 4, 4);
$color-blue: #056674;
$color-navbar: #ffe600;
$color-icon: #81b214;
